@import url(normalize.css);

* {
  overflow-x: hidden;
}
:root {
  --raisin-black: #252323;
  --pitch-black: #000;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--pitch-black);
  color: white;
  min-width: 100%;
  min-height: 100%;
}
.img-bg {
  width: -webkit-fill-available;
}

.img-container {
  box-shadow: inset 0px 0px 0px 0px #fff;
  width: fit-content;
}

@media (max-width: 1000px) {
}

@media (max-width: 767px) {
}
